# Virtual Environments
venv/
.venv/

# Python
__pycache__/
*.pyc
.pytest_cache/

# Environment files
.env

# AWS Keys
*.pem

# Local screenshots
screenshots/

# VS Code
.vscode/

# OS files
Thumbs.db
.DS_Store